.main{
  min-height: 83vh;
}
.main .container >p{
  font-weight: 600;
  color: var(--primary-color);
  font-size: var(--font-size-p);
}
.main .container >span{
  color: var(--text-color);
  opacity: 0.4;
}