.tabela {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.cabecalho {
  display: flex;
  background: var(--primary-color);
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  padding: 10px;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 1;
}
.cabecalho div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cabecalho div:nth-child(1) {
  flex: 0.5;
}
.conteudo {
  display: flex;
  flex-direction: column;
  background-color: #fff2;
  backdrop-filter: blur(5px);
}

.linha {
  display: flex;
  padding: 10px;
  justify-content: center;
  text-align: center;
  border-bottom: 1px solid #fff3;
  color: #fff;
}

.linha div {
  flex: 1;
}
.linha div:nth-child(1) {
  flex: 0.5;
}
.linha div p {
  --lines: 1;
  display: -webkit-box;
  -webkit-line-clamp: var(--lines);
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

.linha[data-outdated="true"] {
  opacity: 0.3;
  position: relative;
}


